.containers {
    width: 960px;
    margin: 0 auto;
}

.tabs {
    display: flex;
    justify-content: space-between;
}

.tabs button {
    background-color: lightgray;
    border: none;
    color: #888888;
    cursor: pointer;
    padding: 15px;
    width: 100%;
    transition: all 0.5s ease-out;
}

.tabs button:hover {
    color: black;
    background-color: rgba(88, 88, 88, 0.377);
}

.tabs button:disabled {
    background: #515151;
    color: white;
}

.content {
    padding: 25px 25px;
    background-color: #EEEEEE;
    line-height: 25px;
    font-size: 16px;
    text-align: justify;
}

.content,
button {
    font-size: 15px;
}

@media only screen and (max-width: 960px) {

    .containers {
        width: 100%;
    }

    .content {
        padding: 10px;
    }
}